* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(21, 125, 162);
  display: flex;
  align-items: center;
  text-align: center center;
  justify-content: space-between;
  padding: 12px 20px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
}

#menu-btn {
  color: white;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  display: none;
}

/* Links en línea (PC) */
#menu-links {
  display: flex;
  gap: 20px;
}

/* HOVER */
nav a:hover {
  color: #ffe08a;
}

/* ----------- RESPONSIVE ----------- */
@media (max-width: 768px) {

  #menu-btn {
    display: block;
  }

  #menu-links {
    background-color: green;
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(21, 125, 162);
    padding: 10px 0;
  }

  #menu-links.show {
    display: flex;
  }

  #menu-links a {
    padding: 10px 20px;
  }
}