/* ----------- RESET ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(21, 125, 162);
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100px;
  text-align: center;
  top: 0%;
  left: 0%;
}

#navbar {
  background-color: rgb(21, 125, 162);
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100px;
  text-align: center;
  top: 0%;
  left: 0%;
}
/* NO SE TIENE */
/*
nav #img {
  width: 100%;
  height: 100%;
  max-width: 4.5%;
  max-height: 85%;
  position: absolute;
  top: 7.5%;
  left: 1%;
}

nav #img img {
  width: 100%;
  height: 100%;
}
*/

#navbar  #navbar #menu-links #menu00 {
  background-color: yellow;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 10%;
  text-align: center;
  top: 0%;
  left: 5%;
}

#navbar #menu-links {
  background-color: orange;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 80%;
  text-align: center;
  top: 0%;
  left: 15%;
  color: white;
  /*
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.3s;
  text-align: center center;*/
}

#navbar #menu-links #menu01,
#navbar #menu-links #menu02,
#navbar #menu-links #menu03,
#navbar #menu-links #menu04,
#navbar #menu-links #menu05,
#navbar #menu-links #menu06,
#navbar #menu-links #menu07,
#navbar #menu-links #menu08 {
  background-color: orange;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  top: 0%;
  left: 0%;
  color: white;
  /*
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.3s;
  text-align: center center;*/
}

#navbar #menu-links #menu01 {
  left: 10%;
}

#navbar #menu-links #menu02 {
  left: 20%;
}

#navbar #menu-links #menu03 {
  left: 30%;
}

#navbar #menu-links #menu04 {
  left: 40%;
}

#navbar #menu-links #menu05 {
  left: 50%;
}

#navbar #menu-links #menu06 {
  left: 60%;
}

#navbar #menu-links #menu07 {
  left: 70%;
}

#navbar #menu-links #menu08 {
  left: 80%;
}

nav a:hover {
  color: #F2C230;
}

#menu-btn {
  color: white;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  display: none;
}

/* Menu links en pantallas grandes */
#menu-links {
  display: flex;
  gap: 20px;
}

/* ----------- RESPONSIVE ----------- */
@media (max-width: 768px) {

  #menu-btn {
    display: block;
  }

  #menu-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(21, 125, 162);
    padding: 10px 0;
    margin-top: 10px;
  }

  #menu-links a {
    padding: 10px 20px;
    display: block;
  }

  /* Cuando se abre el menú */
  #menu-links.show {
    display: flex;
  }
}