/* Contenedor nav */
.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-card);
  padding: 12px 20px;
  box-shadow: var(--shadow);
}

/* Logo */
.logo {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-text);
}

/* Botón modo oscuro */
.dark-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  color: var(--color-text);
}

/* Menú links (desktop) */
.menu-links {
  display: flex;
  gap: 20px;
}

.menu-links a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-text);
  transition: 0.2s;
  text-align: center center;
}

.menu-links a:hover {
  color: var(--color-primary);
}

/* HAMBURGUESA */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger span {
  height: 4px;
  background: var(--color-text);
  border-radius: 3px;
  transition: 0.25s ease;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* RESPONSIVE */
@media (max-width: 950px) {
  .menu-links {
    position: absolute;
    top: 60px;
    right: 15px;
    display: none;
    flex-direction: column;
    background: var(--color-card);
    padding: 15px;
    gap: 12px;
    width: 200px;
    border-radius: 8px;
    box-shadow: var(--shadow);
  }

  .menu-links.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}