body{
    margin: 0cm;
    padding: 0%;
    background: url(../img/Reservas_Turísticas/IMG-20200902-WA0041.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}


.login-box {
    width: 500px;
    height: 500px;
    background: rgba(0, 255, 255, 0.432);
    color: black;
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="Contraseña"]{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box input a:hover{
    color: white;
}

#navllanada {
    color: orangered;
    font-size: 10px;
    font-size: sans-serif;
    font-weight: 900;
}

#carusel {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.text_overlay{
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.text_overlay2{
    color: white;
    position: absolute;
    top: 25;
    left: 0;
    right: 0;
}

#imgcarousel {
    max-height: 70vh;
    max-width: 1350px;
    object-fit: cover;
    filter: grayscale(50%);
}

#logo {
    max-height: 70vh;
    max-width: 125px;
}

footer {
    background-color: rgb(13, 137, 238);
}

footer a {
    color: white;
}

.overlay{
    text-align: center;
}

.btn-Inscripción {
    translate: end;
}