
body{
    background: yellowgreen;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

#navllanada {
    color: orangered;
    font-size: 10px;
    font-size: sans-serif;
    font-weight: 900;
}

#imgcarousel {
    max-height: 70vh;
    max-width: 1350px;
    object-fit: cover;
    filter: grayscale(50%);
}

#logo {
    max-height: 70vh;
    max-width: 175px;
}

footer {
    background-color: rgb(13, 137, 238);
}

footer a {
    color: white;
}

